@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #00ff00;
  --font-mono: 'Courier New', Courier, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #00ff00;
  }
}

body {
  background-color: var(--background);
  background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExcDcydDAwY2NweWZ3cXhmN213bm9kM3pyeWQxa3JveWNpODF1dTFicCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/OCUrX5zjzP6MmvZrFH/giphy.gif");
  background-repeat: repeat;
  background-size: auto;
  color: var(--foreground);
  font-family: var(--font-mono);
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--foreground);
}

a {
  color: var(--foreground);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
